<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
    <meta charset="UTF-8">
    <title>Notes App</title>
</head>
<body ng-controller="MainCtrl as ctrl">

    <form novalidate name="myForm">
        <input type="text" name="uname" class="username" ng-model="ctrl.user.username" required="" ng-minlength="4" placeholder="Username" />
        <input type="password" name="pwd" class="password" ng-model="ctrl.user.password" placeholder="Password" required="" >

        <ng-form name="profile">
            <input type="text" name="firstName" ng-model="ctrl.user.profile.firstName" placeholder="First Name" required>
            <input type="text" name="middleName" ng-model="ctrl.user.profile.middleName" placeholder="Middle Name" required>
            <input type="text" name="lastName" ng-model="ctrl.user.profile.lastName" placeholder="Last Name" required>
            <input type="date" name="dob" ng-model="ctrl.user.profile.dob" placeholder="Date of Birth">
        </ng-form>
        <span ng-show="myForm.profile.$invalid">
            Please fill out the profile information
        </span>
        <input type="submit" value="Submit" ng-disabled="myForm.$invalid">
    </form>

<script src="../node_modules/angular/angular.min.js"></script>
<script type="text/javascript">
    angular.module('notesApp', [])
            .controller('MainCtrl', [function () {
                var self = this;

                self.submit = function() {
                    console.log('First form submit with ', self.user);
                };
            }]);
</script>
</body>
</html>